# .gcloudignore
node_modules/
.git/
.gitignore
.next/cache
.env
.env.local
.env.*.local
.firebase/
.firebaserc
firebase.json
firestore.rules
firestore.indexes.json
functions/
src/
tests/
*.md
.DS_Store
